@model Anything.Models.Gzie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Gzie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Processname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processname.ProcessDescrption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stages)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stages.StageDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
