@model IEnumerable<Anything.Models.Gzie>

@{
    ViewData["Title"] = "Index";
}

<h1>Groupmaster/dashboard</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Processname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stages)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Processname.ProcessDescrption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stages.StageDescription)
                </td>
                <td>
                   

                    <a asp-action="Delete" asp-route-id="@item.GId" class="btn btn-secondary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>