@model IEnumerable<Anything.Models.Rs>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
         
    <a asp-action="Create" class="btn btn-primary">Create New</a>

    <thead>
        <tr>
            <th>
                Sr.No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>

        @{
            int i = 1;
        }
@foreach (var item in Model) {
        <tr>
                <td>
                    @i
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage.StageName)
            </td>
            <td>
                
                <a asp-action="Details" asp-route-id="@item.RId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RId">Delete</a>
            </td>
        </tr>
        i++;
}
    </tbody>
</table>
</div>
</div>