@model Anything.Models.OrderMaster

@{
    ViewData["Title"] = "Details";
}
    

<h1>Details</h1>

<div>
    <h4>OrderMaster</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IssueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IssueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Draw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Draw.ProductNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductMasters)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductMasters.ProductId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Revision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Revision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HSNcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HSNcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Itemcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Itemcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BarcodesSerialized)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BarcodesSerialized)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.len)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.len)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Po)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Po)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Oid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
