@model IEnumerable<Anything.Models.StageConn>

@{
    ViewData["Title"] = "Index";
}

<h1>stageControl List/Dashboard</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                SrNo
            </th>
            <th>
                Groupe Name
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SCid)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gziee.GName)Logic Control
                </td>

                <td>
                    @DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")

                </td>
                <td>
                  

                    <a asp-action="Delete" asp-route-id="@item.SCid" class="btn btn-warning">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>